.left {
  width: 380px;
  padding: 20px;
  background: #f6f6f6;
}

.left-one {
  display: flex;
  justify-content: space-between;
}

.left-two {
  margin-top: 10px;
}

.left-three {
  margin-top: 10px;
}

.divider {
  margin: 2px;
  height: calc(100vh - 190px);
}

.right {
  width: calc(100% - 400px);
  padding: 20px
}

.list {
  margin-top: 20px;
  height: calc(100vh - 324px);
  overflow-x: hidden;
  overflow-y: auto;
}

.item {
  width: 320px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-selected {
  .item;
  background: #e8f0fe;
}

.tableItem {
  display: flex;
  flex-direction: column;
  background: #F6F6F6;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.tableComment {
  height: 20px;
  font-size: 16px;
  font-weight: 700;
  margin: 5px;
}

.tableName {
  margin: 10px 5px;
}
