.main {
  width: 100%;
  min-height: calc(100vh - 190px);
  padding: 20px;
}

.add {
  margin: 20px;
}

.search {
  width: 50%;
  margin: 20px;
}

.divider {
  margin: 2px;
  height: calc(100vh - 190px);
}

.list {
  padding: 20px;
}

.item {
  width: 468px;
  height: 300px;
  padding: 20px;
  color: #fff;
  background-image: url(/images/code.jpeg);
  background-repeat: no-repeat;
}

.title {
  font-size: 30px;
  font-weight: 600;
}
