.title {
  font-size: 24px;
  font-weight: bold;
  margin: 40px 20px;
}

.item-icon {
  width: 120px;
  border-radius: 5px;
  margin: 0px 0px 20px 20px;
}

.item-title {
  font-size: 24px;
  font-weight: 400;
}

.item-description {
  font-size: 14px;
  color: #9999a6;
  margin-top: 10px;
}

.notfound {
  width: 100%;
  height: calc(100vh - 190px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background: #d5dde0;
}
